










<!-- Loop the popular_word_hash (defined in controller) so we get the most popular word. -->
<% @popular_word_hash.each_pair do |key, value| %>
	<span class="entry-title">"<%= key %>"</span>
<% end %>

<span class="entry-date"> - <%= @entry.created_at.strftime("%a %b %e, %G") %> </span> 



 <br>
 <%= @happy_score %>
 <br>


<div class="entry-body"><%= highlight_words(@entry.content) %></div>


<br>




<br>

<% if Rails.env.development?  %>

<div class="h4 alert alert-warning" role="alert"> Debug Output </div>

<div id="accordion">
<h3>Inferred Emotion Counts: </h3>
	<li> Happy: <%= @happy_score %></li>
	<li> Sad: </li>
	<li> Afraid-Surprised:</li>
	<li> Angry-Disgusted:</li>
	

<h3> Raw Output </h3>
	<li> Total Characters: <%= @entry_analysis.char_count %> </li>
	<li> Unique Word Count: <%= @entry_analysis.unique_word_count %> </li>
	<li> Most Occurring Word(s): <%= @entry_analysis.most_occurring_words %> </li>
	<li> Longest Word: <%= @entry_analysis.longest_words %> </li>
	<li> Number of words: <%= @entry_analysis.word_count %> </li>
	<li> Longest Word: <%= @entry_analysis.longest_words %> </li>
	<li> Word Occurances: <%= @entry_analysis.sorted_word_occurrences.to_s %> </li>
	<li> All words as an array: <%= @entry_analysis.words %> </li>
</div>
<% end %>





